<div class="content">

	<h3>Teams</h3> 

	<% @teams.each do | team | %>
		<%= link_to team_path(team.id), {class: "classname"} do %>
			<b><%= team.name %></b> 
		<% end %>
		(<%= team.acronym %>) | 
		<%= team.city %>
		 - 
		<%= team.light_color %><br>
	<% end %>

	<br>
	<%= link_to "Add a new team", new_team_path%>

</div>