<%= link_to "Home", root_path %>

<h3>Here is the list of teams:</h3> 

<% @teams.each do | team | %>
	<b><%= team.name %></b>
	 || 
	<%= team.acronym %>
	 • 
	<%= team.city %>
	 • 
	<%= team.light_color %><br>
<% end %>

<br>
<%= link_to "Add a new team", new_team_path%>
<br>
<%= link_to "Back to list of games", fixtures_path%>