<div class="content">

	<h3>
		<%= @team.name %>
	</h3>

	<% @teamplayers.each do |player| %>

		<%= player.first_name %> 
		<b><%= player.last_name %></b>
		(<%= player.nationality %>)
		<br>
	<% end %>

</div>

<div class="gamehistory">
	<h3>
		Completed game history
	</h3>

	<% @gameserie.each do |game| %>

		<%= game.date %>
		 | 
		<%= game.home_team.name %>
		<%= game.scorehome %>
		 - 
		<%= game.scoreaway %> 
		<%= game.away_team.name %>
		<br>

	<% end %>
</div>