<h3>Here is the list of all fixtures in DB</h3>

<% @fixtures.each do |fixture| %>
	• 
	<% if fixture.completed.nil? %>
		<i> Not updated</i> &#x26D4
	<% else %>
		 &#x2705
	<% end %>
	<%= fixture.date %> @ <%= fixture.time.strftime("%H:%M") %> | 
	<%= link_to fixture_path(fixture.id), {class: "classname"} do%>
		<%= fixture.home_team.name %>
		 vs. 
		<%= fixture.away_team.name %> 
	<%end%>
	<br>
<% end %>

<br>
<%= link_to "Create a new game", new_fixture_path %>
<br>
<%= link_to "Access to team listing", teams_path %>