<center>
	<h1>
		<%= @fixture.home_team.name %>

		<% unless @fixture.scorehome.nil? %>
			<%= @fixture.scorehome %>
		<% end %>

		-

		<% unless @fixture.scoreaway.nil? %>
			<%= @fixture.scoreaway %>
		<% end %>

		<%= @fixture.away_team.name %>
	</h1>
Played on 
<%= @fixture.date %> at <%= @fixture.time.strftime("%H:%M") %>
</center>
