<%= link_to "Home", root_path %>

<h3>Game ID in Database <%= @fixture.id %>: </h3>

<h1>
	<%= @fixture.home_team.name %>
	vs.
	<%= @fixture.away_team.name %>
</h1>


<%= @fixture.date %> @ <%= @fixture.time.strftime("%H:%M") %>


<br><br>
<%= link_to "Back to game list", fixtures_path%>
