<center>

	<!-- https://www.devroom.io/2007/01/12/rails-group-results-by-week-using-group_by/ -->
	<!-- @showcasedgames.group_by(&:stage).sort.each do |stage, games| -->

	<% @gamehistory.each do |journey| %>

		<div class="journey">
			<h2>
				Matchweek <%= journey[:stage] %>
			</h2>
		</div>

		<% journey[:games].each do |game| %>

			<div class="fixture">

			<% if game[1][:status] == "completed" %>

				<div class="fixture-topline">
					<div class="fixture-topline-home">
						<div class="rank">&nbsp;</div>
						<div class="team home" style="color:#<%=game[1][:homecolor]%>;">
							<%= game[1][:hometeam] %>
						</div>
					</div>
					<div class="fixture-topline-info">
						<h2><%= game[1][:scorehome] %> - <%= game[1][:scoreaway] %></h2>
					</div>
					<div class="fixture-topline-away">
						<div class="team away" style="color:#<%=game[1][:awaycolor]%>;">
							<%= game[1][:awayteam] %>
						</div>
						<div class="rank">&nbsp;</div>
					</div>
				</div>

				<% if !game[1][:hometeamevents].length.zero? or !game[1][:awayteamevents].length.zero? %>

				<div class="fixture-bottomline">
					<div class="events home-events">

						<ul>
							<% game[1][:hometeamevents].each do |event| %>
								<li><%= event.player.last_name %> <%= event.minute %>'</li>
							<% end %>
						</ul>
						
					</div>
					<div class="events away-events">

						<ul>
							<% game[1][:awayteamevents].each do |event| %>
								<li><%= event.minute %>' <%= event.player.last_name %></li>
							<% end %>
						</ul>
						
					</div>
				</div>

				<% end %>

			<% else %>
				<div class="fixture-topline">
					<div class="fixture-topline-home">
						<div class="rank">&nbsp;</div>
						<div class="team home" style="color:#<%=game[1][:homecolor]%>;">
							<%= game[1][:hometeam] %>
						</div>
					</div>
					<div class="fixture-topline-info">
						<h3><%= game[1][:date] %></h3>
						<p><%= game[1][:time] %></p>
					</div>
					<div class="fixture-topline-away">
						<div class="team away" style="color:#<%=game[1][:awaycolor]%>;">
							<%= game[1][:awayteam] %>		
						</div>
						<div class="rank">&nbsp;</div>
					</div>
				</div>

				<div class="fixture-bottomline">
					<div class="home-proba">
						<%= ((game[1][:homewinrate]).to_f*100).round(1) %>%
					</div>
					<div class="away-proba">
						<%= ((game[1][:awaywinrate]).to_f*100).round(1) %>%
					</div>
				</div>

			<% end %>

			<a class="fixture-button bookmark">
				<img src="bookmark-add.svg">
			</a>

			<a class="fixture-button share">
				<img src="upload.svg">
			</a>

			</div> <!-- Fixture -->

		<% end %>

	<% end %>

</center>

<div class="ranking-width ranking-head">
	<h2>Team health</h2>
</div>
<div class="ranking-width ranking-container">

	<% for i in @theranking do %>
		<div class="ranking-team">
			<div class="ranking-team-name">
				<%= i[0] %>
			</div>
			<div class="ranking-latest">
				<img src="win.svg">
				<img src="lost.svg">
				<img src="win.svg">
				<img src="win.svg">
				<img src="draw.svg">
			</div>
			<div class="ranking-gbo">
				<b>-</b> GBO
			</div>
		</div>
	<% end %>

</div>