<h3>News</h3>

<center>

	<!-- https://www.devroom.io/2007/01/12/rails-group-results-by-week-using-group_by/ -->
	<!-- @showcasedgames.group_by(&:stage).sort.each do |stage, games| -->

	<% @gamehistory.each do |journey| %>	
		<b>Stage <%= journey[:stage] %></b>
		<br>

		<% journey[:games].each do |game| %>
			<%= ((game[1][:homewinrate]).to_f*100).round(2) %>
			<%= game[1][:hometeam] %>
			<%= game[1][:scorehome] %>
			<%= game[1][:date] %>
			<%= game[1][:time] %>
			<%= game[1][:scoreaway] %>
			<%= game[1][:awayteam] %>
			<%= ((game[1][:awaywinrate]).to_f*100).round(2) %>
			<br>

		<% end %>
	<br>
	<% end %>


</center>

<% for i in @theranking do %>
	<%= i[0] %>
	<small>(<%= i[1] %>)</small>
	<br>
<% end %>