<!DOCTYPE html>
<html>
  <head>
    <title>Keep the momentum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.svg') %>
  </head>

  <body>

    <div class="maincontainer">

        <div class="leftcontent">

            <img src="momentum-logo.svg">

            <ul>
                <li>
                    <%= link_to root_path do %>
                        <img src="news-menu.svg"> News
                    <%end%>
                </li>
                <li>
                    <%= link_to teams_path do %>
                        <img src="stat-menu.svg"> Teams
                    <%end%>
                </li>
                <li>
                    <%= link_to players_path do %>
                        <img src="profile-menu.svg"> Players
                    <%end%>
                </li>
                <li>
                    <%= link_to ranks_path do %>
                        <img src="standing-menu.svg"> Ranking
                    <%end%>
                </li>
                <li>
                    <%= link_to fixtures_path do %>
                        <img src="bookmark-menu.svg"> Fixtures
                    <%end%>
                </li>
                <li>
                    <%= link_to to_complete_fixtures_path do %>
                        <img src="report-menu.svg"> Reports
                    <%end%>
                </li>
            </ul>
            
        </div>

        <%= yield %>
        
    </div>

  </body>
</html>