<!DOCTYPE html>
<html>
  <head>
    <title>ELO Ranking for soccer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
     - 
    <%= link_to "Teams", teams_path %>
     - 
    <%= link_to "Ranking", ranks_path %>
     - 
    <%= link_to "Fixtures", fixtures_path %>
     - 
    (<%= link_to "Reports", to_complete_fixtures_path %>)
    <%= yield %>
  </body>
</html>
